.heading {
	border: solid #ddd; 
	border-width: 0 0 1px 0; 
	clear: both; 
	margin: 10px 0 20px; 
	padding: 20px 0 20px; 
}

.siderbar-header {
	border-width: 0 0 1px; 
	border-style: solid; 
	border-color: #ccc; 
	margin-bottom: 10px;
	padding: 0; 
}

.posting-related {
	border-width: 1px 0; 
	border-style: dotted; 
	border-color: #ccc; 
	margin: 0 0 20px;
	padding: 18px 0 0;
	#background: #fffff0;
}

.prev-next {
	margin: 0 0 20px;
	position:relative;
}

.footer {
	margin: 20px 0 40px;
	text-align: center;
}

.signature {
	text-align: right;
	margin-bottom: 20px;
}

.right {
	float: right;
	clear: left;
}
.left {
	float: left; 
	clear: right;
}

.container img {
	float: right; 
	clear: left;
	margin: 0 0 20px 20px;
}



.inset { 
	border: 1px solid silver; 
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }

pre {
	margin: 1em 0 1.5em 0;
	font-size: 0.75em; /* Hack to make code look same size as body font */  
	line-height: 1.5em;	
	color: #111;
	background: #fffff0;
	border: 1px solid #ddc;
	padding: 0.5em 1em;
	overflow: hidden;

	/* Experimental CSS3 stuff */
	box-shadow: 1px 1px 6px #ccc;
	-webkit-box-shadow: 1px 1px 6px #ccc;
	-moz-box-shadow: 1px 1px 6px #ccc;
}
pre:hover {
	border-right: none;
	overflow: visible;
}
code {
	font-size: 1em;
	background-color: #f7f7ff;
	line-height: 1.4em;
}
pre > code {
	background-color: transparent;
}


.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	list-style:none;
	line-height:1.8em;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	border-radius: 3px;
	#border:1px dashed #ccc;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}