---
layout: default
---


<section id="stat-articles">
	
	<article class="stat-text" id="post-232">
		<header>
			<time datetime="{{ page.date }}" pubdate="">{{ page.date }}</time>
			
			{% if page.title %} <h1>{{ page.title }}</h1> {% endif %}
		</header>
		<section>
			{{ content }}
		</section>
		<div class="stat-clear"></div>
		
		{% if page.tags[0] %}
		<p class="stat-tumblr-tags">

			Tag with: {% for tag in page.tags %}{{tag}}<span></span>{% endfor %}

		</p>
		{% endif %}
		
	</article>
	
</section><!-- END#stat-articles -->