<p>
	<h6 class="siderbar-header">About Me</h6>
	<ul>
		<li><a href="/about.html">Charles Yuan</a></li>
		<li>On <a href="http://github.com/beta4better" title="http://github.com/beta4better">github.com</a></li>
		<li>And <a href="https://plus.google.com/109115007895857662538">Google+</a></li>
	</ul>
</p>

<p>
	<h6 class="siderbar-header">Contact Info</h6>
	<a href="mailto:charles@beta4better.me">charles@beta4better.me</a>
</p>

<p>
	<h6 class="siderbar-header">Syndication</h6>
	<ul>
		<li><a href="/atom.xml">Atom</a></li>
	</ul>
</p>
<p>
	<h6 class="siderbar-header">Archives</h6>
	<ul>
		<li><a href="/archives.html" title="All posting">All postings</a></li>
		<li><a href="/tags.html" title="Tag Cloud">Tag Cloud</a></li>
	</ul>
</p>
<p>
	<h6 class="siderbar-header">Recent Entries</h6>
	<ul>
		{% for post in site.posts limit:10 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</p>	